*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    margin: 0;
}

.workspace {
    position: relative;
    background-color: teal;
    height: 100dvh;
    margin: 0;
}

.workspace>h1 {
    margin: 0;
    text-align: center;
}

.primary-flight-display {
    position: absolute;
    background-image: url('./src/img/instrument.svg');
    background-size: cover;
    inset: 0;
    margin: auto;
    width: 650px;
    height: 650px;
    /* MEDIA QUERY*/
    /*width: 100vw;
    height: 100vw;*/
    /*width: 300px;
    height: 300px;*/
}

.instrument-panel {
    position: relative;
    height: 100%;
}

.instrument {
    position: absolute;
    background-color: red;
    font-size: clamp(1rem, 2vw, 2rem); /*NEED TO FINE TUNE*/
}

.airspeed {
    top: 52%;
    left: 11%;
}

.altimeter {
    top: 52%;
    right: 10%;
}

.alt-setting {
    top: 80%;
    right: 10%;
}

.heading {
    bottom: 10%;
    left: 44%;
}

.freq-comm {
    top: 7%;
    right: 11%;
}

.freq-nav {
    top: 7%;
    left: 11%;
}

.instrument>input {
    display: none;
}