@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    /*#####
    VARIABLES
    #######*/
    /*@@ COLOR @@*/
    /*---font---*/
    --cwhite-h: 360;
    --cwhite-s: 100%;
    --cwhite-l: 100%;
    --cgreen-h: 111;
    --cgreen-s: 98%;
    --cgreen-l: 56%;
    --cred-h: 360;
    --cred-s: 94%;
    --cred-l: 50%;
    --cyellow-h: 43;
    --cyellow-s: 82%;
    --cyellow-l: 48%;
    --cmagenta-h: 318;
    --cmagenta-s: 63%;
    --cmagenta-l: 41%;
    --cblue-h: 189;
    --cblue-s: 66%;
    --cblue-l: 47%;
    /*---background---*/
    --cblack-h: 0;
    --cblack-s: 0%;
    --cblack-l: 0%;
    --cbgrey-h: 0;
    --cbgrey-s: 0%;
    --cbgrey-l: 21%;
    /*@@ FONT @@*/
    --ff: 'B612', sans-serif;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1rem;
    --fs-xs: 0.8rem;
}


body {
    margin: 0;
    position: relative;
    height: 100vh;
    height: 100dvh;
    background-color: hsl(var(--cblack-h), var(--cblack-s), var(--cblack-l));
}

body>h1 {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    color: hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
}


.workspace {
    position: absolute;
    font-family: var(--ff);
    height: max-content;
    width: max-content;
    inset: 0;
    margin: auto;
}


/*#######
PRIMARY FLIGHT DISPLAY
#########*/
.primary-flight-display {
    background-image: url('./src/img/instrument.svg');
    background-size: cover;
    width: clamp(300px, 100vw, 650px);
    height: clamp(300px, 100vw, 650px);
}

.instrument-panel {
    --pfd-white: hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
    --pfd-green: hsl(var(--cgreen-h), var(--cgreen-s), var(--cgreen-l));
    --pfd-blue: hsl(var(--cblue-h), var(--cblue-s), var(--cblue-l));
    --pfd-yellow: hsl(var(--cyellow-h), var(--cyellow-s), var(--cyellow-l));
    --pfd-magenta: hsl(var(--cmagenta-h), var(--cmagenta-s), var(--cmagenta-l));
    position: relative;
    height: 100%;
}

.instrument {
    position: absolute;
    font-size: clamp(var(--fs-s), 5vw, var(--fs-l));
}

.instrument>span {
    user-select: none;
    position: relative;
}

.instrument>span:hover {
    cursor: help;
}

.instrument>span:hover::after {
    content: attr(tooltip);
    position: absolute;
    top: 100%;
    left: -50%;
    font-size: var(--fs-xs);
    background-color: hsl(var(--cblack-h), var(--cblack-s), var(--cblack-l));
    padding: 0.5rem 1rem;
    border: 1px solid hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
    transform: translate(-10%, 0);
    z-index: 10;
}

.airspeed {
    color: var(--pfd-white);
    top: 52%;
    left: 11%;
    max-width: 3ch;
}

.altimeter {
    color: var(--pfd-white);
    top: 52%;
    right: 8%;
    max-width: 5ch;
}

.altimeter>span>sup {
    font-size: clamp(var(--fs-xs), 4vw, var(--fs-m));
    /*font-size: var(--fs-m);*/
}

.alt-setting {
    color: var(--pfd-green);
    top: 80%;
    right: 8%;
    max-width: 5ch;
}

.heading {
    color: var(--pfd-white);
    bottom: 10%;
    left: 43%;
    max-width: 3ch;
}

.freq-comm {
    color: var(--pfd-green);
    top: 7%;
    right: 11%;
    max-width: 6ch;
}

.freq-nav {
    color: var(--pfd-green);
    top: 7%;
    left: 11%;
    max-width: 6ch;
}

.callsign {
    position: absolute;
    color: var(--pfd-magenta);
    font-size: clamp(var(--fs-xs), 4vw, var(--fs-m));
    left: 32%;
    top: 17%;
    max-width: 12ch;
    user-select: none;
}

.instrument>input { /*Answer INPUT boxes*/
    display: none;
    max-width: inherit;
    text-align: center;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    border: 1px lightgrey solid;
}

.instrument>span { /*Answer display boxes*/
    display: none;
}

.instrument>input.active {
    display: block;
}

.instrument>span.active {
    display: block;
}


#callsign-input {
    display: block;
    max-width: inherit;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    border: 1px lightgrey solid;
}

#callsign-input:read-only {
    pointer-events: none;
    border: none;
}

/*#######
BUTTON CONTAINER
#########*/
.container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--cbgrey-h), var(--cbgrey-s), var(--cbgrey-l));
    height: max-content;
}

.setting {
    height: 70%;
    background-color: lavender;
    display: none;
}

.num-pad {
    height: 270px;
    width: 270px;
    background-color: lime;
    margin: 0.5rem 1rem;
    display: none;
    /*ACTIVE GRID*/
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: hsl(var(--cbgrey-h), var(--cbgrey-s), var(--cbgrey-l));

}

.num-key {
    font-family: var(--ff);
    color: hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
    background-color: hsl(var(--cblack-h), var(--cblack-s), var(--cblack-l));
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 1px 1px hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
    -webkit-box-shadow: 0px 0px 1px 1px hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
    -moz-box-shadow: 0px 0px 1px 1px hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
}

.num-key:active {
    --cblack-l: 20%;
}

.k-num {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: var(--fs-m);
}

.k-action {
    font-size: var(--fs-xs);
    width: 55px;
    height: 35px;
    padding: 2px;
    border: none;
}

.k-action:nth-of-type(3) {
    position: relative;
}

.k-action:nth-of-type(3)::after {
    content: "";
    background-color: hsl(var(--cbgrey-h), var(--cbgrey-s), var(--cbgrey-l));
    position: absolute;
    width: 45px;
    height: 3px;
    left: 10%;
    bottom: 15%;
    border-radius: 15px;
}



.btn-action>button {
    font-family: var(--ff);
    font-size: var(--fs-s);
    color: hsl(var(--cwhite-h), var(--cwhite-s), var(--cwhite-l));
    background-color: hsl(var(--cblack-h), var(--cblack-s), var(--cblack-l));
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
}

.btn-action>button.disabled {
    pointer-events: none;
}


/*########
COUNTDOWN
##########*/
.countdown {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(25px);
    user-select: none;
}

.countdown>div {
    text-align: center;
    position: absolute;
    margin: auto;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: var(--fs-l);
    border-radius: 50%;
    color: white;
}

.countdown>div::before {
    content: '';
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: solid white 5px;
    border-color: white transparent transparent transparent;
    transform: rotate(46deg);
    animation: borderAnim 1s linear infinite;

}

@keyframes borderAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*#########
GAME START ELEMS
###########*/
.timer-bar {
    position: absolute;
    width: 100%;
    height:5px;
    background-color: hsl(var(--cyellow-h), var(--cyellow-s), var(--cyellow-l));
    inset: 0 0 auto 0;
    animation-name: timeBar;
    animation-timing-function: linear;
}

@keyframes timeBar {
    0%{
        width: 100%;
    }

    100% {
        width: 0%;
    }
}



/*######
ATC MODE
########*/
.atc-mode {
    color: white;
}